#------------------------------------------------------------------------------
# Applications
#------------------------------------------------------------------------------
alias cot='open -g -a CotEditor'
alias atom='atom'
#------------------------------------------------------------------------------
# メモ帳を開く
#------------------------------------------------------------------------------
alias memo="atom ~/Dropbox/private/draft"
#------------------------------------------------------------------------------
# git
#------------------------------------------------------------------------------
alias gs="git status -s"
alias gft="git fetch"
alias gupdate="git fetch && git merge origin/master"
alias gdi='gd --ignore-space-change'
alias gpom="git push origin master"
alias garc='git archive --format=zip HEAD '
alias gronce="git reset --soft HEAD~1"
alias gphm='git push heroku master'
alias grmall='git rm $(git ls-files --deleted)'
# git log
alias glap="git log --abbrev-commit --pretty=oneline"
alias glog='git log --all --graph --pretty="tformat:%C(yellow)%h%Cblue%d%Creset %s %C(red) %an, %ar%Creset"'
alias glogp="glog -p"
# other
alias gmm="git merge master"
alias gfr="git fetch && git rebase origin/master"

#------------------------------------------------------------------------------
# other
#------------------------------------------------------------------------------
alias c="clear"
alias sz="source ~/.zshrc"
alias mz="m ~/.zshrc"
#alias vi='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/Vim "$@"'
alias mvim='open -a  /Applications/MacVim.app'
alias m='mvim'

alias l="ls -lah"
alias s="l"

alias md='mkdir $1'
alias ..='cd ..'

alias rm="rm -i"
alias mv="mv -i"

# grunt
alias gt='grunt $1'

# パスをコピー
alias copypath='pwd|pbcopy'

# SL!!!
alias sll='/usr/local/bin/sl'


# ファイルのみを表示
alias llf="ll -aF | grep -v /"
# ディレクトリのみを表示
alias lld="ll -aF | grep /"

# sudo の後のコマンドでエイリアスを有効にする
alias sudo='sudo '

# グローバルエイリアス
alias -g L='| less'
alias -g G='| grep'

# get ip address
alias ip="ifconfig en0 | awk ' NR==4 {print \$2}'"
alias ipc="ip|pbcopy|echo ip address copyed!!"

#------------------------------------------------------------------------------
# heroku
#------------------------------------------------------------------------------
alias h='heroku'
alias hps='heroku ps'
alias hl='heroku logs'
alias hr='heroku restart'
alias hc='heroku config'
alias hm='heroku maintenance '
alias hsql='heroku pg:psql'
alias hpgi='heroku pg:info'

#------------------------------------------------------------------------------
# bower
#------------------------------------------------------------------------------
alias bw='bower'
alias bwi='bower install'
alias bwif='bower info'
alias bws='bower search'
alias bwl='bower list'

#------------------------------------------------------------------------------
# npm
#------------------------------------------------------------------------------
alias n='npm'
alias nl='npm list'
alias nl0='npm list --depth=0 "$@" 2>/dev/null'

#------------------------------------------------------------------------------
# the fuck
#------------------------------------------------------------------------------
alias fuck='eval $(thefuck $(fc -ln -1))'
