'editor':
  'softTabs': false
  'showIndentGuide': true
  'preferredLineLength': 140
'core':
  'themes': [
    'atom-dark-ui-slim'
    'monokai'
  ]
  'disabledPackages': [
    'autocomplete-plus'
    'csslint'
  ]
'exception-reporting':
  'userId': '049106df-b07b-47fd-e628-8f61faf124f1'
'release-notes':
  'viewedVersion': '0.92.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'a2603800419dac4339f93c745fa69dae14aeced0'
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'highlight-line':
  'hideHighlightOnSelect': true
  'backgroundRgbColor': '120,120,180'
  'opacity': '35%'
'autocomplete-plus':
  'liveCompletion': false
  'enableAutoActivation': false
'autocomplete': {}
'csslint': {}
'jsformat': {}
'minimap': {}
'docblockr':
  'auto_add_method_tag': true
'slack-chat':
  'token': 'xoxp-2169355663-2169355779-2357171996-8b604c'
  'username': 'kyohei-atom'
